<form class="form-horizontal" id="form-login">

    <div class="form-group">
        <label class="control-label col-sm-2" for="email-login">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email-login" placeholder="Enter email" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password-login" placeholder="Enter password" />
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-default">Login</button>
    </div>
</form>

{{!-- we need to figure out where login.js is --}}
<script src="/login.js "></script>