<form class="form-horizontal" id="form-signup">
    <div class="form-group">
        <div class="col-sm-4">
        <label for="username-signup" class="col-sm-2 control-label">Username</label>
        <input type="text" class="form-control" id="username-signup" placeholder="Required"/>
    </div>
    </div>
       <div class="form-group">
        <div class="col-sm-4">
        <label for="email-signup" class="col-sm-2 control-label">Email</label>
        <input type="email" class="form-control" id="email-signup" placeholder="Required"/>
    </div>
    </div>
       <div class="form-group">
        <div class="col-sm-4">
        <label for="password-signup" class="col-sm-2 control-label">Password</label>
        <input type="password" class="form-control" id="password-signup" placeholder="Required"/>
    </div>
    </div>
    
    <div>
        <button type="submit" class="btn btn-default" id="btn-signup">Sign-up</button>
    </div>
</form>

{{!-- we need to figure out where signup.js is --}}
<script src="/signup.js"></script>